fastapi
uvicorn
python-dotenv
groq
openai
pinecone
pypdf
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
deepgram-sdk==3.10.1
elevenlabs==1.50.3
requests
websockets
python-multipart
httpx
aiofiles
pydantic